{% extends "base.html.twig" %}
{% block body %}
    {% for material in materials %}
        {{ material.name }}
        <a href="{{ path('update_material', {'id': material.id }) }} "><span>Edycja materiału</span></a> <br>
    {% endfor %}
{% endblock %}