<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Materials{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
    <div class="w3-bar w3-black">

            <a href="/materials" class="w3-bar-item w3-button" style="width:33%">MATERIAŁY</a>

            <a href="/groups" class="w3-bar-item w3-button" style="width:33%">GRUPY MATERIAŁÓW</a>

            <a href="/units" class="w3-bar-item w3-button" style="width:33%">JEDNOSTKI MIARY</a>

    </div>

    <div>
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
