{% extends "base.html.twig" %}
{% block body %}
    {% if message is defined %}
        <h1 align="center">{{ message }}</h1>
    {% else %}
        <div class="w3-container w3-indigo">
            <h2>Dane jednostki miary do zmiany - <b>{{ unit.name }}</b></h2>
        </div>
        <form action="#" method="POST">
            <table class="w3-table w3-striped">

                <tr>
                    <th></th>
                    <th>Aktualne dane</th>
                    <th>Zmień dane (pozycje bez zmian pozostawić puste)</th>
                </tr>
                <tr>
                    <th>Nazwa</th>
                    <th>{{ unit.name }}</th>
                    <th><input type="text" name="name"></th>
                </tr>
                <tr>
                    <th>Skrót</th>
                    <th>{{ unit.abbreviation }}</th>
                    <th><input type="text" name="abbreviation"></th>
                </tr>
            </table>
            <input class="w3-button w3-black" type="submit" name="change" value="Aktualizuj">
        </form>
    {% endif %}
{% endblock %}